.App {
  text-align: center;
}

.Swimlane {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.Lane {
  border: 1px solid #ccc;
  width: 30%;
  padding: 10px;
  background-color: #f9f9f9;
}

.Block {
  background-color: #61dafb;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

.Block:hover {
  background-color: #21a1f1;
}
